<?xml version="1.0" encoding="utf-8"?>
<AdMediatorConfiguration xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
  <BaseConfiguration>
    <AdAdapters>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>WApplicationId</Key>
            <Value>fbbb7779-4ffd-4c42-92ad-526be5070406</Value>
          </Property>
          <Property>
            <Key>MApplicationId</Key>
            <Value>7b01e63c-94b9-461a-a6b1-0f84540e8a9c</Value>
          </Property>
        </Metadata>
        <Name>MicrosoftAdvertising</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
    </AdAdapters>
    <AdControlConfigurations>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>11644012</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>11644022</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-90169C07-6539-4309-B7EC-5C54A562D79C</Id>
        <Name>AdMediator_24D058</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>11644013</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>11644023</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-EF141D72-7FF1-4FC7-A4C5-58671823792E</Id>
        <Name>AdMediator_6351B3</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>11644014</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>11644024</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-95822896-1906-412F-AFF6-6C305662E96A</Id>
        <Name>AdMediator_BFF56C</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>11644015</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>11644025</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-CF10049D-3BC1-457E-A7DE-B3A6270BD8B5</Id>
        <Name>AdMediator_BFF56C1</Name>
      </AdControlConfiguration>
    </AdControlConfigurations>
  </BaseConfiguration>
  <RefreshRate>30</RefreshRate>
  <SchemaVersion>2.0.1</SchemaVersion>
  <UpdatedDateTime>2016-09-11T20:22:04.3824464Z</UpdatedDateTime>
  <UseRoundRobin>true</UseRoundRobin>
</AdMediatorConfiguration>